* {
  font-family: Raleway, sans-serif;
}

#autumn-box {
 animation: slideIn 3s forwards;
scroll-behavior: smooth;
       
}
 @keyframes slideIn {
  from{ margin-top: 150px; font-family: Roboto; opacity: 0;}
  to{margin-top: 50px;}
};


#product {
  width: 250px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}



/* 
 #heroImage {
 animation: slideOut 2s forwards;
scroll-behavior: smooth;
       
}
 @keyframes slideOut {
  from{ margin-top: 150px; font-family: Roboto; opacity: 0;}
  to{margin-top: 0px;}
 } */

.product img {
width: 100%;
height: 100%;
object-fit:contain;

} 


/* #productList { */
  /* display: flex;
  flex-direction: row; */
/* gap: 40px;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));

}

.product img {
width: 100%;
height: 200px;
object-fit:contain;

} */

/* 

}; */
#productList {
  animation: slideUp1 both;
  animation-timeline: view();
 animation-range: entry 40% cover 40%;
}
@keyframes slideUp1 {
  from{ 
    opacity: 0;
    transform: translateY(300px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
 
}
.productDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
}